<div class="pbm">
  <button ng-click="search()" class="add-button btn br3 pbm ptm prxl plxl bg-darkest-blue white f2 b--blue tracked">Add Songs</button>
</div>
<div class="pbl">
  <button class="btn br3 pbm ptm prl pll bg-blue white f3 b--blue tracked share" ng-click="shareEvent()" data-clipboard-text="{{roomInvite}}">&nbsp;Copy Event URL&nbsp;</button>
</div>

<div ng-show="songs.length > 0 && isCreator" class="player-container">
  <div id="player" class="center tc pbl ptm"></div>
</div>  
<div ui-view></div>

<script>
  if (!window['YT']) {var YT = {loading: 0,loaded: 0};}if (!window['YTConfig'])
{var YTConfig = {'host': 'http://www.youtube.com'};}if (!YT.loading     )
{YT.loading = 1;(function(){var l = [];YT.ready = function(f) {if (YT.loaded)
  {f();} else {l.push(f);}};window.onYTReady = function() {YT.loaded = 1;for (var i
    = 0; i < l.length; i++) {try {l[i]();} catch (e) {}}};YT.setConfig =
    function(c) {for (var k in c) {if (c.hasOwnProperty(k)) {YTConfig[k] =
      c[k];}}};var a = document.createElement('script');a.type =
  'text/javascript';a.id = 'www-widgetapi-script';a.src = 'https:' +
  '//s.ytimg.com/yts/jsbin/www-widgetapi-vflqb8CPD/www-widgetapi.js';a.async
  = true;var b =
  document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,
    b);})();}
</script>

<script>
  console.log("start player");
  var player;
  function onYouTubeIframeAPIReady() {
    console.log("api ready");
    player = new YT.Player('player', {
      height: '275',
           width: '275',
           //videoId: 'CpmDAu_47OE',
           events: {
             'onReady': onPlayerReady,
           'onStateChange': loadNext
           }
    });
  }
</script>
