

  <button ng-click="search()" class="btn br3 pbm ptm prxl plxl bg-darkest-blue white f2 b--blue tracked">Add Songs</button>

  <h2 class="center tc mega darkest-blue mbm">playlist</h2>

  <div id="player" class="center tc pbm ptm"></div>
  <table class="center tc pbm ptm f1 darkest-blue">
    <tr>
      <th class="prl pll">Order</th>
      <th class="prl pll">Cover</th>
      <th class="prl pll">Title</th>
    </tr>
    <tr ng-repeat="song in songs track by $index">
      <td class="prl pll">{{song.index}}</td>
      <td class="prl pll"><img src="{{song.thumbnail}}" /></td>
      <td class="prl pll">{{song.title}}</td>
    </tr>
  </table>

  <script>
  if (!window['YT']) {var YT = {loading: 0,loaded: 0};}if (!window['YTConfig'])
  {var YTConfig = {'host': 'http://www.youtube.com'};}if (!YT.loading     )
  {YT.loading = 1;(function(){var l = [];YT.ready = function(f) {if (YT.loaded)
  {f();} else {l.push(f);}};window.onYTReady = function() {YT.loaded = 1;for (var i
  = 0; i < l.length; i++) {try {l[i]();} catch (e) {}}};YT.setConfig =
     function(c) {for (var k in c) {if (c.hasOwnProperty(k)) {YTConfig[k] =
     c[k];}}};var a = document.createElement('script');a.type =
     'text/javascript';a.id = 'www-widgetapi-script';a.src = 'https:' +
     '//s.ytimg.com/yts/jsbin/www-widgetapi-vflqb8CPD/www-widgetapi.js';a.async
     = true;var b =
     document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,
    b);})();}
  </script>

  <script>
    console.log("start player");
    var player;
    function onYouTubeIframeAPIReady() {
      console.log("api ready");
      player = new YT.Player('player', {
        height: '200',
        width: '200',
        //videoId: 'CpmDAu_47OE',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': loadNext
        }
      });
    }
  </script>
