<div class="center tc">
  <form ng-submit="join(event)" class="pbs">
    <input ng-model="event" autofocus="autofocus" class="ptm pbm prm plm f2 tc br3 bal tracked" placeholder="Enter event name" />
    <div class="pts">
      <button type="submit" class="btn br3 pbm ptm pr-special pl-special bg-darkest-blue white f2 b--blue tracked">Join</button>
    </div>
  </form>
  <h2 class="f2 dark-blue ttu tracked pbs">or</h2>
  <button ng-click="create()" class="btn br3 pbm ptm pr-other pl-other white bg-blue b--dark-blue f2 tracked">Create</button>
</div>
